<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericho.coupleshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".act.LoginAct"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.MainActivity3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".act.LoginAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".act.RegisterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ChangeServerDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.TestMainAct"
            android:label="@string/title_act_test_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.TestSelectPhotoAct"
            android:label="@string/title_act_test_home" />
        <activity
            android:name=".act.TestAppBarAct"
            android:label="@string/title_act_test_home" />
        <activity
            android:name=".act.TestBiliBiliAppBarAct"
            android:label="@string/title_act_test_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act.TestCollapseToolbarLayoutAndTabLayoutAct"
            android:label="@string/title_act_test_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".act.MainActivity3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ericho.coupleshare.act.MainActivity3" />
        </activity>
        <activity
            android:name=".act.PersonSettingAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act.PhotoAddAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.StatusAddAct_origin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.StatusAddAct_copy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.TestHoldAct"
            android:screenOrientation="portrait" />


        <activity
            android:name=".act.LoadingAct"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <service android:name=".service.UploadPhotoService"/>
        <service android:name=".service.LocationMonitorSer"/>

    </application>

</manifest>